.wrapper{
    margin: 0 auto;
    width: 100%;
    padding: 0 15%;
    max-width: 1600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 425px){
    .wrapper{
        padding: 0 10%;
    }
}