.caroussel{
    margin: 0 auto;
    overflow: hidden;
    animation: fadein 50ms;
    width: 100vw;
    margin-bottom: 30px;
}

/* .caroussel img{
    width: 100%;
} */

@keyframes fadein {
    from {opacity: 0.1; }
    to { opacity: 1; } 
    } 