.footer{
    width: 100%;
    background-color: #1B2121;
    color: #fff;
    padding: 30px 0;
}

.footer .flex{
    display: flex;
}

.footer .flex svg{
    margin-right: 15px;
}

.footer .footer_sub_container{
    display: flex;
    justify-content: space-between;
}

.footer h4{
    font-weight: 500;
    margin-bottom: 40px;
}

.footer h4, .footer a{
    letter-spacing: 0.15em;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer ul li{
    margin-bottom: 30px;
}

.footer ul svg{
    color: #01D7FC;
    font-size: 2rem;
}

.footer ul a{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.footer p{
    letter-spacing: normal;
    line-height: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.footer iframe{
    border-radius: 10px;
    width: 250px;
    margin-bottom: 30px;
}

.footer .route_link{
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: normal;
}

@media(max-width: 768px){
    .footer_sub_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_sub_container br{
        display: none;
    }

    .footer_sub_container section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_sub_container h2, .footer_sub_container li, .footer_sub_container p, .footer_sub_container h4, .footer_sub_container a{
        text-align: center;
    }
}